@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  background: #FEF9E7;
  font-family: 'Roboto', sans-serif;
}

#logo {
  line-height: .5;
  color: #121338;
}

#logo h2 {
  font-style: italic;
}

figcaption {
  font-size: .75em;
}

footer {
  line-height: 3;
  font-size: .75em;
}

/* Social */

#social {
  position: fixed;
  top: 200px;
  right: 40px;
  width: 40px;
  z-index: 1;
}

#social a {
  display: block;
  width: 40px;
  height: 30px;
}

/* Media */

img, video, audio {
  max-width: 100%;
}

/* Layout */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper {
  width: 960px;
  margin: 0 auto;
}

.col-1 {
  float: left;
  width: 32%;
  background: #ccc;
}

.col-2 {
  float: left;
  width: 66%;
  background: #ccc;
}

.col-3 {
  background: #ccc;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

[class*="col-"] {
  margin-left: 2%;
}

.first {
  margin-left: 0%;
}

/* Sections */

header#index {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #A93226;
  z-index: 1;
}

#featured-property, #details {
  margin-bottom: 20px;
  padding: 20px;
}
